@import './style/main.css';

:root{
  --bgcolor: #ffcc00;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: var(--bgcolor);
  overflow-x: hidden;
}
#mainContainer{
  min-width: 100%;
}
.opened{
  margin-left: 250px;
}
.narbarOpen{
  position: fixed;
  top: 0;
  left: 250px;
  right: 0px;
  z-index: 1030;
}
.chooseitem{
  font-weight: bold;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
}
.itemtoright{
  margin-left: 250px;
}
#menuBtn{
  z-index: 5;
  transform: translateY(50%);
  background-color: black;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menuBtn > #menu{
  padding: 0;
  margin: 2px;
  height: 2px;
  width: 20px;
  border: 1px solid white;
  border-radius: 25px;
}
#navbarMenu li{
  padding: 12px 20px;
}
a.menuItem{
  font-size: 12px;
  color: white;
  text-decoration: none;
}
.closeMenu{
  display: none;
}
.openMenu{
  top: 0;
  left: 0;
  width: 249px;
  height: 100%;
  position:fixed;
  background-color: black;
  overflow-y: scroll;

}
.menuToggle{
  display:block;
}
.container{
  width: 1210px;
  margin: auto;
}
.icons{
  display: flex;
  justify-content: end;
  align-items: end;
}
.icons img{
  margin: 0 3px;
  height: 30px;
  width: 30px;
}
.header{
  padding: 30px 0;
}
nav.navbar{
  padding: 0;
  background-color: #fff;
}
.navbar-nav{
  display: flex;
  flex-wrap: wrap;
}
.nav-item a{
  color: black;
  font-size: 12px;
  padding: 25px;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav-item:hover a{
  background-color: black;
  color: white;
}

nav.top-navbar{
  height: 50px;
  background-color: black;;
}
.navbar-toggler-icon{
  background-color: blue;
}
#banner{
  position: relative;
  width: 100%;
}
#bannerImage{
  width: 100%;
  height: auto;
}
.titleOfBanner{
  max-width: 390px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  position: absolute;
  padding: 25px 20px;
  background-color: black;
  color: white;
}
.titleText{
  text-align: center;
  font-size: 30px;
  line-height: 1;
  padding: 10px 0;
  opacity: 1;
  border-top: 1px solid white;
  font-family: 'League Gothic', 'sans-serif';
  font-size: 36px;
}
.titleOfBanner > span{
  padding: 10px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
}

.slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.r-banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.r-banner > input{
  cursor: pointer;
  appearance: none;
  margin: 20px 5px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.r-banner > input:checked{
  background-color: black;
  border: 1px solid black;
}

@media (width <= 1290px) {
  .container{
    max-width: 1116px;
    padding-top: 50px;
    width: 97%;
    margin: auto;
  }
}

@media (width >= 1000px) {
  body{
    padding-top: 0px;
  }
  nav.top-navbar.navbar{
    display: none;
  }
}
@media (width < 1000px) {
  nav.nd-navbar.navbar{
    display: none;
  }
}

@media (width <= 770px) {
  .titleOfBanner{
    visibility: hidden;
  }
  .header > div{
    display: flex;
    justify-content: center;
    /* padding-bottom: 25px; */
    /* text-align: center; */
  }
  .icons{
    padding: 20px 0;
  }
}

